.hero-container {
  margin-top: 10rem;
  position: relative;
}

.hero-container::before {
  background-color: var(--color-border);
  content: "";
  height: 5rem;
  left: 0;
  position: absolute;
  top: 4.5rem;
  width: 100%;
  z-index: 1;
}

.hero-container h1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.hero-container img {
  max-width: 31rem;
  width: 100%;
}

.hero-container span {
  font-size: 2.9rem;
  margin-top: 2rem;
}

.hero-collections {
  margin: 8rem 0 10rem;
}

.hero-collections__card-ctn {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero-collections__card-ctn {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .hero-collections__card-ctn {
    margin: 0 auto;
    width: 97rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-collections__card-ctn {
    width: 105rem;
  }
}

.hero-collections__card {
  background-color: var(--color-border);
  background-size: cover;
  border: 3px solid #000;
  border-radius: 0.7rem;
  height: 24rem;
  margin: 4rem auto;
  position: relative;
  width: 31rem;
}

@media screen and (min-width: 768px) {
  .hero-collections__card {
    height: 20rem;
    width: 24rem;
  }
}

@media screen and (min-width: 900px) {
  .hero-collections__card {
    height: 23rem;
    width: 29rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-collections__card {
    height: 27rem;
    width: 33rem;
  }
}

.hero-collections__card-title {
  color: #fff;
  font-size: 3.1rem;
  font-weight: 400;
  left: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: opacity 0.8s;
}

.hero-collections__card:hover .hero-collections__card-title,
.hero-collections__card:hover .hero-collections__card-bg {
  opacity: 0;
  transition: none;
}

.hero-collections__card .hero-collections__card-bg {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.8s;
  width: 100%;
}

.hero-collections__card .hero-collections__card-hover {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.8s;
  width: 100%;
}

.hero-collections__card:hover .hero-collections__card-hover {
  opacity: 1;
}
